* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
}
.nydia{
    width: 250px;
    height: auto;
    margin-bottom: 25px;
    margin-top: 25px;
}
h1{
        width: 100%;
        text-align: center;
        font-size: 250%;
}
.container{
    min-height: 50vh;
    width: 100%;
    background-color: white;
    padding: 10px 8%;
}
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 125px 0;
}
nav ul{
        list-style: none;
        width: 100%;
        text-align: left;
        padding-right: 60px;
}
nav ul li{
    display: inline-block;
    color:rgb(6, 4, 8);
    margin: 10px 20px;
    font-size: 20px;
}
nav ul li a{
    color: black;
    text-decoration: none;
}
#contact{
    padding: 70px;    
}
#contact ul{
    color: black;
    list-style: none;
}
#contact ul li{
    color: black;
    text-decoration: none;
    margin-bottom: 25px;
    margin-top: 25px;
}
#contact ul li a{
    color: black;
    text-decoration: none;
}
#about{
    padding: 70px;
}
#work{
    padding: 70px;
}
.sample1{
    width: 450px;
    height: 450px;
}
.sample2{
    width: 450px;
    height: 450px;
}
.sample3{
    width: 450px;
    height: 450px;
}
.sample4{
    width: 450px;
    height: 450px;
}
.sample5{
    width: 450px;
    height: 450px;
}
footer{
    padding: 70px;
}