* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Marcellus-Regular';
    src: url ('./assets/css/styles.css') format('woff2');
}

body {
    background-color: white;
    font-family: 'Marcellus-Regular', sans-serif;;
    color: #cc9999;
}
.name {
    margin-top: 200px;
    margin-left: 100px;

}
    
]

#Nydia {
    margin-top: 0px; 
    width: 150px; 
    height: auto; 
}