* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Marcellus', serif;
    background-color: white;
    border: solid black 1px; /*remove before you submit*/
}
.nydia{
    width: 450px;
    height: auto;
    margin-bottom: 25px;
    margin-top: 25px;
}
.seosample{
    width: 100%;
}
h1{
        width: 100%;
        text-align: center;
        font-size: 250%;
}
.container{
    min-height: 50vh;
    width: 100%;
    background-color: white;
    padding: 10px 8%;
}
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 125px 0;
}
nav ul{
        list-style: none;
        width: 100%;
        text-align: left;
        padding-right: 60px;
}
nav ul li{
    display: inline-block;
    color:rgb(6, 4, 8);
    margin: 10px 20px;
    font-size: 20px;
}
nav ul li a{
    color: black;
    text-decoration: none;
}
#contact{
    padding: 70px;    
}
#contact ul{
    color: black;
    list-style: none;
}
#contact ul li{
    color: black;
    text-decoration: none;
    margin-bottom: 25px;
    margin-top: 25px;
}
#contact ul li a{
    color: black;
    text-decoration: none;
}
#about{
    padding: 70px;
}
#work{
    padding: 70px;
}
#work img {
    position: relative;
}
#work img:hover::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}
#work img:hover::before {
    opacity: 1;
}
.example2{
    width: 450px;
    height: 450px;
}
.example3{
    width: 450px;
    height: 450px;
}
.example4{
    width: 450px;
    height: 450px;
}
.example5{
    width: 450px;
    height: 450px;
}
.example6{
    width: 450px;
    height: 450px;
}
footer{
    padding: 70px;
}

@media screen and (max-width: 768px) {
    .container,
    nav {
      flex-direction: column;
    }}
