body {
    background-color: #f8fcfd;
    
body {
    margin: 0;
    display: flex;
    flex-wrap: wrap
  }

  article {
    font-color: #bd8b67;
  }

 
@media screen and (max-width: 992px) {
    * {
      background: #d8a47f;
    }
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    * {
      background-color: #d8a47f;
    }
  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    * {
      background-color: #d8a47f;
    }
  }
  